.box{
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-areas: 
    "example-card-0 example-card-1 example-card-2 example-card-3 example-card-4 example-card-5 example-card-6 example-card-7";
    .mat-card {
        // width: 15%;
        min-width: 120px;
        margin:10px;
      }
}

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }