.map {
  width: 100%;
  height:100%;
  padding: 0px;
}
.btn{
  padding: 10px;
  background: #87da35;
  color: white;
  outline: none;
  border: none;
  border-radius: 100%;
  &:hover{
    background: #78bb35;
    cursor:pointer;
  }
}
.add-line-button{
  position: absolute;
  top: 45px;
  left: -19px;
}
.modify-button{
  position: absolute;
  top: 100px;
  left: -19px;
  background: #ffcc33;
  &:hover{
    background: #e7b318;
  }
}