<div class="draw-line-message" *ngIf="drawMode">
        Draw a line
</div>
<div class="draw-line-message" *ngIf="modifyMode">
        Modify a line
</div>
<div #map class="map"></div>
<button *ngIf="drawMode === false && modifyMode === false" class=" btn add-line-button"
        (newItemEvent)="drawingModeOff()" title="Draw Line" (click)="drawLine()"><img src="assets/diagonal-line.svg"
                width="20px" height="20px">
</button>
<button *ngIf="modifyMode" class="btn delete-button" title="Delete Line" (click)="deleteLine()"><img
                src="assets/trash.svg" width="20px" height="20px">
</button>