.vehicle-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 850px;
    width: 95%;
    height: 8vh;
    background: #272b30;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 1px 13px;
    .items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
        .vehicle{
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          box-sizing: border-box;
          width: auto;
          height: 35px;
          border: 2px solid transparent;
          padding: 2px 8px;
          border-radius: 50px;
          span{
            color:#f8f9fa86;
            font-size: 10.5px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
    }
    .deneme{
      .select-all{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 15%;
          .vehicle{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 8px;
            border-radius: 50px;
            cursor: pointer;
            box-sizing: border-box;
            width: auto;
            height: 35px;
          }
      }
      span{
        padding-right: 10px;
        color:#f8f9fa86;
        font-size: 11px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          color: #89e031;
        }
      }

    }
}
  
  
.clicked-car{
    border: 2px solid rgb(36, 163, 36) !important;
    transition-duration: 0.3s;

    span{
      color: white !important;

    }
  }
  .clicked-truck{
    border: 2px solid rgb(226, 223, 60) !important;
    transition-duration: 0.3s;
    span{
      color: white !important;
    }
  }
  .clicked-van{
    border: 2px solid rgb(131, 53, 233) !important;
    transition-duration: 0.3s;
    span{
      color: white !important;
    }
  }
  .clicked-motorcycle{
    border: 2px solid rgb(233, 100, 59) !important;
    transition-duration: 0.3s;
    span{
      color: white !important;
    }
  }
  .clicked-bus{
    border: 2px solid rgb(58, 121, 238) !important;
    transition-duration: 0.3s;
    span{
      color: white !important;
    }
  }
  .clicked-bicycle{
    border: 2px solid rgb(253, 35, 35) !important;
    transition-duration: 0.3s;
    span{
      color: white !important;
    }
  }
  .clicked-person{
    border: 2px solid rgb(206, 61, 199) !important;
    transition-duration: 0.3s;
    span{
      color: white !important;
    }
  }
  