<div class="container">
	<div class="box">
		<div #map class="map"></div>
		<div class="vehicle-group">
			<div class="items">
				<div (click)="vehicleSelected(vehicle)" class="vehicle" *ngFor="let vehicle of vehicleArray"
					[ngClass]="vehicle.checked===true ? 'clicked-' + vehicle.type : ''">
					<img fill= "red"src="assets/{{vehicle.type}}.svg" width="20px" height="20px" style="padding-right: 10px;" >
					<span class="vehicle-text">{{vehicle.type}}</span>
				</div>
			</div>
			<ng-container class="select-all" *ngIf="selected; else deselect">
				<div class="vehicle" (click)="selectAll()">
					<span
						style=" padding: 10px; cursor: pointer; color: white; font-size: 11px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">SELECT
						ALL</span>
				</div>
			</ng-container>
			<ng-template class="deselect-all" #deselect>
				<div class="vehicle" (click)="deselectAll()">
					<span
						style="cursor: pointer; padding: 10px; color:white; font-size: 11px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;"
						class="text">DESELECT ALL</span>
				</div>
			</ng-template>
		</div>
	</div>
</div>