.example-container {
    width: 500px;
    height: 100vh;
    background: transparent;
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42px;
    right: -50px;
    transform: rotate(90deg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    button{
        color: white;
        background: #3e454d;
        outline: none;
        border: none;
        border-bottom: 3px solid transparent;
        font-size: 19px;
        padding: 8px 20px 8px 20px;
        font-weight: 400;
        border-radius: 0;
        &:hover{
            border-bottom: 3px solid #69a829;
        }
    }
  }
  .example-sidenav {
      background: #3e454d;
      width: 420px;
      color: white;
      padding: 35px;
      box-shadow: none;
      border: none;
      right: 3px;
      
      p{
        text-align: center;
      }
      .movements{
        padding: 10px;
        color: white;
        background: #343a40;
        border: 2px solid transparent;
        border-radius: 30px;
        width: auto;
        height: auto;
        text-align: center;
        &:hover{
          border: 2px solid white;
          cursor: pointer;
        }
      }
      .btn-group{
        display: flex;
        justify-content: space-between;
        width: 275px;
        align-items: center;
        padding-left: 35px;
        button{
          color:white;
          background: #353b42;
          border-radius: 10px;
        }
      }

   }
  .add-border{
    border-bottom: 3px solid #69a829;
  }
}