.example-container {
    width: 500px;
    height: 100vh;
    // border: 1px solid rgba(0, 0, 0, 0.5);
    background: transparent;
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: -42px;
    transform: rotate(90deg);

    button{
        color: white;
        background: #3e454d;
        outline: none;
        border: none;
        border-bottom: 3px solid transparent;
        &:hover{
            border-bottom: 3px solid #69a829;
        }
    }
  }
  
  .example-sidenav {
      background: #3e454d;
      color: white;
      padding: 20px;
      box-shadow: none;
      border: none;
      button{
          color:white;
          background: #353b42;
         border-radius: 10px;
       }
   }

  .add-border{
    border-bottom: 3px solid #69a829;
  }