.example-container {
    width: 500px;
    height: 100vh;
    // border: 1px solid rgba(0, 0, 0, 0.5);
    background: transparent;
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: -30px;
    transform: rotate(90deg);

    button{
        color: white;
        background: #3e454d;
        outline: none;
        border: none;
        &:focus{
            background:#3e454d;
        }
    }
  }
  
  .example-sidenav {
    background: #3e454d;
    color: white;
    padding: 20px;
    button{
        color:green;
        border-radius: 50%;
    }
  }